@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  :root {
    --background: 33 100% 97%;
    /* latte-50 */
    --foreground: 17 46% 12%;
    /* latte-900 */
    --card: 0 0% 100%;
    --card-foreground: 17 46% 12%;
    --popover: 0 0% 100%;
    --popover-foreground: 17 46% 12%;
    --primary: 18 12% 26%;
    /* latte-800 */
    --primary-foreground: 33 100% 97%;
    --secondary: 31 38% 92%;
    /* latte-100 */
    --secondary-foreground: 17 46% 12%;
    --muted: 31 38% 92%;
    --muted-foreground: 33 15% 48%;
    /* latte-600 */
    --accent: 31 40% 83%;
    /* latte-200 */
    --accent-foreground: 17 46% 12%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 31 40% 83%;
    /* latte-200 */
    --input: 31 40% 83%;
    --ring: 38 44% 63%;
    /* latte-400 */
    --radius: 1rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 20 14% 4%;
    --foreground: 0 0% 95%;
    --card: 24 10% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 38 44% 63%;
    --primary-foreground: 17 46% 12%;
    --secondary: 17 46% 12%;
    --secondary-foreground: 0 0% 98%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 38 44% 63%;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0.5);
    border-radius: 20px;
    border: 3px solid transparent;
    background-clip: content-box;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background-color: rgba(156, 163, 175, 0.8);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}